# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write

    strategy:
      matrix:
        os: [ "ubuntu-latest", "windows-latest", "macos-latest" ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod/cache
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Build
        run: |
          go version
          go mod download
          go build xxwcli.go
          ls

      - name: Replace String Action
        uses: frabert/replace-string-action@v2
        id: replace
        with:
          pattern: '-latest$'
          string: ${{ matrix.os }}
          replace-with: ''

      - name: Set OS variable
        id: os
        run: |
          echo "OS=${{ steps.replace.outputs.replaced }}" >> $GITHUB_OUTPUT
          echo "OS: ${{ steps.replace.outputs.replaced }}"

      

      - name: Get current date
        id: date
        # https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/
        run: |
          echo "year_month_day=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT
          echo "year_month_day_hour=$(date +'%Y%m%d%H')" >> $GITHUB_OUTPUT
          echo "year_month_day_hour_minute=$(date +'%Y%m%d%H%M')" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v3
        with:
          name: xxwcli-${{ steps.os.outputs.os }}-${{ steps.date.outputs.year_month_day_hour_minute }}
          path: |
            xxwcli
            xxwcli.exe

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: |
            xxwcli
            xxwcli.exe
          prerelease: true
          name: ${{ steps.os.outputs.os }}-${{ steps.date.outputs.year_month_day_hour_minute }}
          tag: v-${{ steps.os.outputs.os }}-${{ steps.date.outputs.year_month_day_hour_minute }}
          token: ${{ secrets.GITHUB_TOKEN }}
